/*------------------------------------------------------*/
/* Global tag styles */
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

body {
	margin: 0;
	color:#333;
	background: rgba(169, 160, 172, 0.95) url(../img/bg_test3.png) fixed;
}

a {
	text-decoration:none;
}

h1 {
	line-height:1.25em;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Desktop nav bar styles */
#desktop-nav {
	z-index:10;
	position: -webkit-sticky;	
	position:sticky;
	top:0px;
	height:5vh;
	background-color:#222222;
	text-align: center;
	vertical-align: middle;
	display:table;
	width:100%;
	box-sizing: border-box;
	border-bottom:1px solid #000000;
}

@media (max-width: 1025px) {
    #desktop-nav   { display: none; }
}

#logo_nav {
	height:3vh;
	border-radius: 5px;
	float:left;
}

#nav-link-cell {
	height:5vh;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.nav-link {
	color: #999999;
	transition: background-color .2s;
	/* font-size:large; */
	font-size:1.25em;
	display: flex;
	/* padding: 5px 15px; */
	cursor: pointer;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	/* border:1px solid red; */
}

.nav-link:hover {
	color:#FF994B;
}

#active {
	color:#fff;
}

#nav-link-cell-active {
	height:5vh;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: #294157;
}

/*------------------------------------------------------*/
/* Global dropdown menu styles */
.dropdown {
    position: relative;
    /* display: inline-block; */
	z-index:1000;

}
.dropdown_container {
	opacity:0;
	visibility:hidden;
	position:absolute;
	z-index:1000;
	background-color:#ececec;
	transition:opacity 0.3s linear;
	border:2px solid #595959;
	border-top: 0px;
	min-width: 400px;

}
/* The container <div> - needed to position the dropdown content */
.dropdown:hover .dropdown_container {
	opacity:1;
	visibility:visible;
}

.dropdown_list_item:hover {
	background-color: #d3d3d3;
}

.nav-link-drop {
	color: #999999;
	transition: background-color .2s;
	font-size:1.5em;
	display:inline-block;
	padding: 10px 5px;
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}

/*------------------------------------------------------*/
/* Mobile dropdown menu styles */
#mobile_nav {
	position:absolute;
	display:none;
	z-index:10;
	position: -webkit-sticky;
	position:sticky;
	top:0px;
	height:5vh;
	min-height: 40px;
	background-color:#333333;
	width:100%;
	padding:5px 0px;
	border-bottom:1px solid black;
	color:#ececec;
}

@media (max-width: 1025px) {
	#mobile_nav { display: block; }
}

#mobile_nav #nav_link_cell{
	position:absolute;
	width:100%;
	display: flex;
	align-items: center; 
}

#mobile_logo_nav {
	height:5vh;
	min-height: 40px;
	float:left;
}

.mobile_drop {
	border-radius:0px 0px 8px 8px;
	border-top:1px solid #999999;
	width:100%;
	top:5vh;
	margin:0;
	border:0;
	border-radius:0;
	box-shadow:none;
	padding:0;
	border-bottom:2px solid #595959;
}

#mobile_nav .dropdown_container:before, #mobile_nav .dropdown_container:after {
	display:none;
}

.dropdown_container li {
	width:100%;
	margin:0 auto;
	padding-top:5px;
}

#mobile_nav_link {
	color: #333333;
	transition:background-color .2s;
	font-size:x-large;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-align:center;
	width:100%;
	padding: 5px 15px;
	box-sizing: border-box;
}

#mobile_nav_link:hover {
	background-color: rgb(206, 200, 208);
}

#nav-text {
	font-size: 2em;
	padding-left:20px;
}
/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Main content styles */
.title {
	display: block;
	float: left;
	padding-top:8px;
	padding-left:8px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
}

#main_content {
	padding: 60px;
	margin-bottom: 30px;
	font-size: 1.25em;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	overflow:auto;
	background-color: rgba(238, 238, 238, 0.95);
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;	
}

@media (max-width: 960px) {
	#margin { display: none; }
	#main_col { width: 100%; }
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Code block styles */
pre {
	background-color:#fff;
	border: 1px dotted #666666;
	overflow:auto;
}
.inline {
	color:#ff5c33;
	font-weight:bold;
}
.cmd {
	background-color: #c6ecd9;
	font-size:1.2em;
	line-height:1.5em;
	width: 100%;
	overflow:auto;
}

.cb {
	background-color:#fff;
	padding:0px 5px;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Button styles */

.button {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.button a {
	display: flex;
	align-items: center; 
	justify-content: center;
	width:100%;
	background-color: #4bb3d2;
	color: #fff;
	padding:10px 5px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius:10px;
	transition: 0.3s ease;
	box-sizing: border-box;
}
.button a:hover{
	border-radius:15px;
	background-color:#56c8eb;
}

.btn-sep {
	width: 2%;
}

.btn-margin {
	width: 71.000001%;
}

@media (max-width: 1800px) {
	.button { width: 12%; }
	.btn-sep { width: 2%; }
	.btn-margin { width: 58%; }
}


@media (max-width: 1500px) {
	.button { width: 30%; }
	.btn-sep { width: 5%; }
	.btn-margin { width: 0%; }
}

#btn_row_inner {
	padding-left:20px;
	padding-bottom:30px;
}

#buffer {
	padding-left:10px;
}

@media (max-width: 1024px) {
	#buttons_container { display: none; }
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Bottom content styles in index */

#task_col {
	background-color: rgb(238, 238, 238, 0.95);
	-webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
	      border-radius: 6px;
}

#task_row_inner {
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
}

#task {
	padding-left: 20px;
}

#ex_p {
	padding-right:10px;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Sub-nav menu styles */

#jump_row {
	padding:5px;
	background-color:#fff;
	position:relative;
	margin:0 auto;
}

#jump_container {
	position:relative;
	width:100%;
}

.jump_link {
	padding-left:40px;
}

@media (max-width: 960px) {
	#task_row { display: none; }
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Various element styles */

#paper {
	padding:25px;
	border:1px solid black;
	border-radius:5px;
	background-color:#fff;
	text-align: center;
}

.pub_title {
	font-size:0.75em;
}

.readme_divider {
	height:1px;
	background-color:#e6e4e7;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
/* Footer styles */

#footer {
	font-family: "Courier New", Courier, monospace;
	background-color: #333333;
	color:#ececec;
	font-size:0.75em;
	height:3vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width:100%;
}

#footer_text a { color: #56c8eb }
#footer_text a:visited { color: #56c8eb }

@media (max-width: 960px) {
	#footer { height:6vh; }
	#footer_text { top: 25%; }
}


/*------------------------------------------------------*/


